// bower:scss
// endbower
@import "compass";

.q {
    @include filter-gradient(#f19020, #f26026, vertical);

    // IE6-9
    @include background-image(linear-gradient(top, #f19020 0%, #f26026 100%));
}

.e {
    background-color: #2285c3;

    @include filter-gradient(#2285c3, #02509f, vertical);

    @include background-image(linear-gradient(top, #2285c3 0%, #02509f 100%));
}

.r {
    background-color: #29c0ee;

    @include filter-gradient(#29c0ee, #08a3e4, vertical);

    @include background-image(linear-gradient(top, #29c0ee 1%, #08a3e4 100%));
}

.w {
    background-color: #e4218c;

    @include filter-gradient(#e4218c, #b31e87, vertical);

    @include background-image(linear-gradient(top, #e4218c 1%, #b31e87 100%));
}

.default {
    background: #B7B7B7;
    border: 1px solid #B7B7B7;
}

.navbar.navbar-inverse {
    background-color: #000 !important;
    color: #ffffff;
    margin-bottom: 0px;
    border-radius: 0px !important;
}

.header {
    margin-bottom: 10px !important;
}

.printOptions {
    a:visited {
        color: #4a90e2;
    }
}

.ticketsOptions {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;

    .tck {
        color: white;
        width: 150px;
        margin-top: 15px;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border: 0px solid;
        padding: 5px;

        .v-align {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.mainOps {
    background: #F1EDED;
    margin-top: 15px;
    padding: 15px;
    text-transform: uppercase;

    .label {
        color: #909090;
        padding-left: 50px;
    }

    .inpt {
        padding-right: 50px;
    }

    .form-control,
    .form-group .form-control {
        background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2) !important;
    }

    .form-group.is-focused label,
    .form-group.is-focused label.control-label {
        color: #337ab7 !important;
    }

    .form-control {
        height: 40px !important;
        font-size: 25px !important;
    }

    .mgslabel {
        color: #777;
        text-transform: capitalize;
        margin-top: 10px;
    }

    .actions {
        margin-top: 15px;
        color: #4a90e2;
        font-weight: bold;

        small {
            font-size: 8px;
        }

        span {
            font-size: 16px;
        }
    }

    .topay {
        color: #8a8a8a;
        font-size: 22px;
        font-weight: bold;
        height: 27px;
    }

    .pay {
        height: 27px;
    }

    .return {
        height: 27px;
    }

    .toreturn {
        color: #8a8a8a;
        font-size: 22px;
        font-weight: bold;
        height: 27px;
    }

    .currentTicket {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        font-weight: bold;
        border-radius: 0px;

        p {
            margin-bottom: 0px;
        }

        .currentName {
            font-size: 26px;
        }

        .currentQuantity {
            font-size: 16px;
        }

        .currentPrice {
            padding-top: 10px;
            font-size: 20px;
        }
    }
}

.mgsdisplay {
    color: #4a90e2;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
}

.userInfo {
    font-weight: bold;
    text-transform: uppercase;
    color: #7d7d7d;

    .glyphicon {
        font-size: 18px;
        margin-right: 10px;
        color: #B7B7B7;
    }
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .containersell {
        max-width: 720px;
        margin: 0 auto;
        padding-top: 10px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.change {
    -webkit-animation: flash 1s;
    -moz-animation: flash 1s;
    -ms-animation: flash 1s;
    animation: flash 1s;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}