<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Reportes">
                <md-content class="md-padding" ng-controller="ReportCtrl">
                    <div layout="row">
                        <div flex="30">
                            <md-input-container class="md-block">
                                <label>Usuario</label>
                                <md-select ng-model="report.user">
                                    <md-option value="all">
                                        TODOS
                                    </md-option>
                                    <md-option ng-repeat="usr in users" value="{{usr.id}}">
                                        {{usr.usu_login}}
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="myForm.status.$error" ng-if="myForm.$dirty">
                                    <div ng-message="required">
                                        <ng-md-icon icon="clear" size="24px"></ng-md-icon>Requerido
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex="30">
                            <md-input-container>
                                <label>Fecha</label>
                                <input type="date" mdp-date-picker ng-model="report.date" />
                            </md-input-container>
                        </div>
                        <div flex>
                            <md-button ng-click="getReport()" class="md-raised md-primary">Generar Reporte</md-button>
                        </div>
                    </div>
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>Reportes</span>
                        </div>
                    </md-toolbar>
                    <!-- exact table from live demo -->
                    <md-table-container>
                        <table md-table md-progress="promise">
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>Venta # </th>
                                    <th md-column md-numeric>Usuario</th>
                                    <th md-column md-numeric>Precio</th>
                                    <th md-column md-numeric>Cantidad</th>
                                    <th md-column md-numeric>Base</th>
                                    <th md-column md-numeric>IVA</th>
                                    <th md-column md-numeric>Impuesto</th>
                                    <th md-column md-numeric>Total</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-show="total.cantidad">
                                    <td md-cell></td>
                                    <td md-cell></td>
                                    <td md-cell><strong>Total</strong></td>
                                    <td md-cell><strong>{{total.cantidad | fixed}}</strong></td>
                                    <td md-cell><strong>{{total.base | fixed}}</strong></td>
                                    <td md-cell><strong>{{total.impuesto | fixed}}</strong></td>
                                    <td md-cell><strong>{{total.impuesto | fixed}}</strong></td>
                                    <td md-cell><strong>{{total.total | fixed}}</strong></td>
                                </tr>
                                <tr md-row ng-repeat="vnt  in dataReport">
                                    <td md-cell>
                                        <md-tooltip md-direction='top'>
                                            {{vnt.bol_series}}
                                        </md-tooltip>{{vnt.bol_codvol}}</td>
                                    <td md-cell>{{vnt.usu_id}}</td>
                                    <td md-cell>{{vnt.vol_pre}}</td>
                                    <td md-cell>{{vnt.vol_can}}</td>
                                    <td md-cell>{{vnt.vol_volbase}}</td>
                                    <td md-cell>{{vnt.vol_voiva}}</td>
                                    <td md-cell>{{vnt.vol_volimp}}</td>
                                    <td md-cell>{{vnt.vol_total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-content>
            </md-tab>
            <md-tab label="Estaciones">
                <md-content class="md-padding">
                    <div layout="row" ng-controller='StatinsCtrl'>
                        <div flex="30" style="margin-right: 20px;">
                            <h5 class="md-subhead">Crear Estaciones</h5>
                            <form name="myForm">
                                <md-input-container class="md-block">
                                    <label>Nombre Estacion</label>
                                    <input required name="description" ng-model="station.taq_nom">
                                    <div ng-messages="myForm.description.$error" ng-if="myForm.description.$touched">
                                        <div ng-message="required">
                                            <ng-md-icon icon="clear" size="24px"></ng-md-icon> Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Status</label>
                                    <md-select name="status" ng-model="station.status" required>
                                        <md-option value="1">Activo</md-option>
                                        <md-option value="0">Inactivo</md-option>
                                    </md-select>
                                    <div class="errors" ng-messages="myForm.status.$error" ng-if="myForm.$dirty">
                                        <div ng-message="required">
                                            <ng-md-icon icon="clear" size="24px"></ng-md-icon>Requerido
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row">
                                    <md-button ng-click="clearValue()" ng-disabled="!station" style="margin-right: 20px;">Borrar</md-button>
                                    <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Guardar</md-button>
                                </div>
                            </form>
                        </div>
                        <div flex="60" flex-offset="10">
                            <h5 class="md-subhead">Estaciones Registradas</h5>
                            <md-content flex>
                                <md-list>
                                    <md-list-item ng-click="edit(sta.name)" class="md-3-line" ng-repeat="sta in stations track by $index">
                                        <ng-md-icon icon="computer" size="36px"></ng-md-icon>
                                        <div class="md-list-item-text">
                                            <h3>{{sta.taq_nom}}</h3>
                                            <h4>{{sta.status  | onoff}}</h4>
                                        </div>
                                        <md-divider inset></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Usuarios">
                <md-content class="md-padding">
                    <div layout="row" ng-controller='UsersCtrl'>
                        <div flex="30" style="margin-right: 20px;">
                            <h5 class="md-subhead">Crear Usuarios</h5>
                            <form name="myForm">
                                <md-input-container class="md-block">
                                    <label>Usuario</label>
                                    <input required name="name" ng-model="user.usu_login">
                                    <div ng-messages="myForm.name.$error">
                                        <div ng-message="required">Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Contraseña</label>
                                    <input required name="password" ng-model="user.usu_clave">
                                    <div ng-messages="myForm.password.$error">
                                        <div ng-message="required">Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Tipo de Usuario</label>
                                    <md-select name="type" ng-model="user.usu_tipo" required>
                                        <md-option value="0">Administrador</md-option>
                                        <md-option value="1">Vendedor</md-option>
                                    </md-select>
                                    <div class="errors" ng-messages="myForm.type.$error" ng-if="myForm.$dirty">
                                        <div ng-message="required">Requerido</div>
                                    </div>
                                </md-input-container>
                                <div layout="row">
                                    <md-button ng-click="clearValue()" ng-disabled="!station" style="margin-right: 20px;">Borrar</md-button>
                                    <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Guardar</md-button>
                                </div>
                            </form>
                        </div>
                        <div flex="60" flex-offset="10">
                            <h5 class="md-subhead">Usuarios Registradas</h5>
                            <md-content flex>
                                <md-list>
                                    <md-list-item ng-repeat="sta in users track by $index" ng-click="edit(sta.name)" class="md-3-line">
                                        <ng-md-icon icon="account_circle" size="36px"></ng-md-icon>
                                        <div class="md-list-item-text">
                                            <h3>{{sta.usu_login}}</h3>
                                            <h4>{{sta.usu_tipo  | admvend}}</h4>
                                        </div>
                                        <md-divider inset></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Activaciones">
                <md-content class="md-padding" ng-controller='ActivationsCtrl'>
                    <div layout="row">
                        <div flex="30" style="margin-right: 20px;">
                            <h5 class="md-subhead">Activar Usuarios</h5>
                            <form name="myForm">
                                <md-input-container class="md-block">
                                    <label>Usuario</label>
                                    <md-select ng-model="act.usu_id">
                                        <md-option ng-repeat="usr in users" value="{{usr.id}}">
                                            {{usr.usu_login}}
                                        </md-option>
                                    </md-select>
                                    <div class="errors" ng-messages="myForm.status.$error" ng-if="myForm.$dirty">
                                        <div ng-message="required">
                                            <ng-md-icon icon="clear" size="24px"></ng-md-icon>Requerido
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Estaciones</label>
                                    <md-select ng-model="act.taq_id">
                                        <md-option ng-repeat="usr in stations" value="{{usr.id}}">
                                            {{usr.taq_nom}}
                                        </md-option>
                                    </md-select>
                                    <div class="errors" ng-messages="myForm.status.$error" ng-if="myForm.$dirty">
                                        <div ng-message="required">
                                            <ng-md-icon icon="clear" size="24px"></ng-md-icon>Requerido
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row">
                                    <md-button ng-click="clearValue()" ng-disabled="!station" style="margin-right: 20px;">Borrar</md-button>
                                    <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Activar</md-button>
                                </div>
                            </form>
                        </div>
                        <div flex="60" flex-offset="10">
                            <h5 class="md-subhead">Estaciones Registradas</h5>
                            <md-content flex>
                                <md-list>
                                    <md-list-item ng-click="edit(sta.name)" class="md-3-line" ng-repeat="sta in stations track by $index">
                                        <ng-md-icon icon="computer" size="36px"></ng-md-icon>
                                        <div class="md-list-item-text">
                                            <h3>{{sta.name}}</h3>
                                            <h4>{{sta.status  | onoff}}</h4>
                                        </div>
                                        <md-divider inset></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
