<div layout="row">
    <div flex="40" flex-offset="15">
        <div layout="column" layout-padding ng-cloak>
            <br/>
            <md-content class="autoScroll">
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Usuario</label>
                    <md-icon md-svg-src="images/ic_person_24px.svg" class="name"></md-icon>
                    <input ng-model="user.login" type="text">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Contraseña</label>
                    <md-icon md-svg-src="images/ic_lock_24px.svg" class="name"></md-icon>
                    <input ng-model="user.password" type="password">
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="end" layout-wrap>
                    <md-button class="md-raised" ng-click="showSimpleToast()">Login
                    </md-button>
                </section>
            </md-content>
        </div>
    </div>
</div>
