<div class="containersell">
    <div layout="row">
        <div flex="30">
            <div class="printOptions">
                <div layout="row">
                    <div flex="100">
                        <a href="">Retirar Tickets</a>
                    </div>
                </div>
                <div layout="row">
                    <div flex="100">
                        <a href="">Imprimir Tickets de Otro Usuario</a>
                    </div>
                </div>
            </div>
            <div class="ticketsOptions">
                <div ng-repeat="ticket in config.tickets" layout="row" class="tck" ng-class="ticket.key">
                    <div flex="30" layout="column" layout-align="center center" style="text-transform: uppercase;">
                        <span><strong>{{ticket.key}}</strong></span>
                    </div>
                    <div flex="70" layout="column">
                        <div layout="row">
                            <strong>{{ticket.price}} Bs</strong>
                        </div>
                        <div layout="row">
                            <span style="text-transform: capitalize;">{{ticket.name}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex="70">
            <div layout="row" class="userInfo">
                <div flex="50">
                    <ng-md-icon icon="account_circle" style="fill: #B7B7B7" size="24px"></ng-md-icon> USUARIO
                </div>
                <div flex="50">
                    <ng-md-icon icon="print" style="fill: #B7B7B7" size="24px"></ng-md-icon> TAQUILLA
                </div>
            </div>
            <div class="mainOps">
                <div layout="row">
                    <div flex="100" layout="column" style="min-height: 75px;">
                        <div class="currentTicket" layout-align="center center" ng-class="current.key">
                            <div layout="row"  layout-align="center center"  ng-show="!current.price">
                                <p>{{current.name}}</p>
                            </div>
                            <div layout="row">
                                <div flex layout="row" layout-align="start center" ng-show="current.price">
                                    <div layout="column">
                                        <div flex class="currentName">{{current.name}}</div>
                                        <div flex class="currentQuantity" ng-show="current.quantity">{{current.quantity}} Disponibles</div>
                                    </div>
                                </div>
                                <div class="currentPrice" flex layout="row" layout-align="end center" ng-show="current.price">
                                    {{current.price}} Bs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div class="label" flex>CANTIDAD</div>
                    <div class="inpt" flex>
                        <md-input-container md-no-float layout="row" style="min-width: 200px;">
                            <input type="text"  aria-label="inpt2" ng-model="nroticket" id="f_1" placeholder="" ng-keypress="keypressHandler($event, 2)" numbers-only="numbers-only">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div class="label" flex>PRECIO PAGAR</div>
                    <div class="inpt pay" flex>
                        <span class="topay" ng-hide="current.price * nroticket <= 0" ng-bind="current.price * nroticket | currency:'BS'"></span>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div class="label" flex>PAGA CON</div>
                    <div class="inpt" flex>
                        <md-input-container md-no-float layout="row" style="min-width: 200px;">
                            <input type="text"  aria-label="inpt"  ng-model="montopago" id="f_2" placeholder="" ng-keypress="keypressHandler($event, 3)" numbers-only="numbers-only">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div class="label" flex>VUELTO</div>
                    <div class="inpt return" flex>
                        <span class="toreturn" ng-hide="montopago - (nroticket * current.price) <= 0" ng-bind="(montopago - (nroticket * current.price)| currency:'BS')">100</span>
                    </div>
                </div>
                <div layout="row" layout-align="center center" class="actions">
                    <div><span>S</span> <small>Imprimir</small></div>
                    <div>&nbsp; &nbsp;</div>
                    <div><span>D</span> <small>Cancelar</small></div>
                </div>
                <div layout="row" layout-align="start center" class="mgslabel">
                    {{msg}}
                </div>
            </div>
            <div layout="row" layout-align="end center" class="mgsdisplay">
                Ultima Operacion: {{lastUpdate}}
            </div>
        </div>
    </div>
</div>
